.h1_nav{
  color: white;
}

.nav_principal{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex; /*Elementos uno al lado del otro */
  justify-content: space-between; /* logo al izquierda y links a la derecha*/
  align-items: center;
  background-color: blue;
  height: 80px;
  padding-left: 20px;
  padding-right: 40px;


}
.lista_nav{
  list-style: none;
  display: flex;
}
.li_nav{
  margin: 10px;
}
.a_nav{
  color: white;
}
.img_nav{
  width: 90px;
  height: auto;
}